:root{
  --cardsColor: #26262D;
  --bgColor: #1C1C1E;
  --textColor: #A5A3AC;
  --iconsActiveColor: #FFCD02;
  --headerIconsColor: #EAEAEA;
  --footerIconsColor: #B5B3BC;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  display: grid;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
