.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 320px;
  background-color: var(--bgColor);
  color: var(--textColor);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.bars,
.add {
  background-color: var(--cardsColor);
  color: var(--headerIconsColor);
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  place-items: center;
  padding: 1rem;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 8rem;
  border-radius: 10%;
  padding: 2rem 1rem;
  background-color: var(--cardsColor);
}

.footer {
  color: var(--footerIconsColor);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.plusbtn {
  position: absolute;
  font-size: 32px;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: var(--bgColor);
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.icon {
  color: var(--iconsActiveColor);
  font-size: 32px;
}

.icon2{
  color: var(--iconsActiveColor);
}

.iconHeading {
  font-size: 13px;
  margin-top: 1rem;
}
